$fontFamily:'Open Sans',
sans-serif;

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $fontFamily;
    overflow-x: hidden;
}


.footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;

    }

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    text-align:center;
    }

// .para {
//     color: white;
//     font-size: 1.2rem;
// }

// @media only screen and (min-width: 600px) {
//     .hrRuler {
//         width: 50px;
//     }
// }